/* CSS Document */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #e7e7e7;
	background-color: cornflowerblue;
	position: fixed;
	width: 100%;
}
li {
	float: left;
	border-right: 1px solid #bbb;
}
li a {
	display: block;
	color: aquamarine;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}
li a:hover{
	background-color: cadetblue;

}
.active{
	background-color: aqua;
}
li:last-child{
	border-right: none;
	float: right;
}